@import url('./tailwind.css');
@import url('./twoslash-shiki.css');
@import url('./syntax-highlighting.css');
@import url('./markdown.css');
/* @import url('./ng.css'); */
:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

/* body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
} */

@layer base {
  @font-face {
    font-family: 'Virgil';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src:
      local(''),
      url('/fonts/virgil.woff2') format('woff2');
  }

  .scroll-padding {
    scroll-padding-top: 150px;
  }

  body {
    @apply h-full bg-white text-slate-500 antialiased dark:bg-gray-950 dark:text-slate-400;
  }

  svg {
    @apply max-w-full;
  }

  .svg-h-full svg {
    @apply h-full;
  }

  svg path {
    fill: currentColor;
  }

  code {
    @apply rounded bg-gray-200 py-0.5 px-1 text-sm dark:bg-gray-800;
  }

  .prose code.hljs {
    @apply bg-transparent;
  }

  .prose a code {
    @apply dark:text-violet-400 !important;
  }

  .prose pre {
    @apply rounded-lg border border-transparent dark:border-gray-900 dark:bg-black;
  }

  @media (min-width: 1024px) {
    .docs.prose pre {
      max-width: calc(100vw - 520px);
    }
    .blog.prose pre {
      max-width: calc(100vw - 352px);
    }
  }

  @media (min-width: 1280px) {
    .blog.prose pre {
      max-width: calc(100vw - 672px);
    }
  }

  @media (min-width: 1440px) {
    .docs.prose pre {
      max-width: calc(1000px);
    }
  }

  @media (min-width: 1536px) {
    .docs.prose pre {
      max-width: 880px;
    }
    .blog.prose pre {
      max-width: 880px;
    }
  }

  @keyframes scroll {
    0% {
      transform: translateX(0);
    }
    100% {
      transform: translateX(calc(-560px * 4));
    }
  }

  .animate-scroll {
    animation: scroll 50s linear infinite;
  }

  .animate-scroll:hover {
    animation-play-state: paused;
  }

  reach-portal {
    position: absolute;
    z-index: 100;
  }

  .options-table .option-title h2,
  .options-table .option-title h3,
  .options-table .option-title h4 {
    @apply text-slate-900 dark:text-white;
  }

  .options-table .option-title p {
    @apply text-sm text-slate-500 dark:text-slate-400;
  }

  .hyphens {
    hyphens: auto;
    -webkit-hyphens: auto;
  }

  html.dark {
    color-scheme: dark;
  }
}

code {
  counter-reset: line;
}

code > [data-line]::before {
  counter-increment: line;
  content: counter(line);

  /* Other styling */
  display: inline-block;
  width: 1rem;
  margin-right: 2rem;
  text-align: right;
  color: gray;
}

code[data-line-numbers-max-digits='2'] > [data-line]::before {
  width: 2rem;
}

code[data-line-numbers-max-digits='3'] > [data-line]::before {
  width: 3rem;
}

code {
  -webkit-box-decoration-break: clone;
  box-decoration-break: clone;
  font-feature-settings:
    'rlig' 1,
    'calt' 1,
    'ss01' 1;
}

code[data-line-numbers] > .line {
  padding-left: 0.5rem;
  display: inline-flex;
}

code[data-line-numbers] > .line:before {
  counter-increment: line;
  content: counter(line);
  float: left;
  height: 100%;
  min-width: 2.6rem;
  text-align: right;
  --tw-text-opacity: 1;
  color: rgba(107, 114, 128, var(--tw-text-opacity));
  padding-right: 1rem;
}

code .line.highlighted {
  background-color: hsl(var(--nextra-primary-hue) 100% 45%/0.1);
  color: hsl(var(--nextra-primary-hue) 100% 45%/0.5);
  --tw-shadow: 2px 0 currentColor inset;
  --tw-shadow-colored: inset 2px 0 var(--tw-shadow-color);
}

code .line .highlighted,
code .line.highlighted {
  box-shadow: var(--tw-ring-offset-shadow, 0 0 transparent), var(--tw-ring-shadow, 0 0 transparent), var(--tw-shadow);
}

code .line .highlighted {
  --tw-shadow: 0 0 0 2px rgba(0, 0, 0, 0.3);
  --tw-shadow-colored: 0 0 0 2px var(--tw-shadow-color);
  background-color: hsl(var(--nextra-primary-hue) 100% 32%/0.1);
  --tw-shadow-color: hsl(var(--nextra-primary-hue) 100% 32%/0.1);
  --tw-shadow: var(--tw-shadow-colored);
  border-radius: 0.125rem;
}

:is(html[class~='dark'] code .line .highlighted) {
  background-color: hsl(var(--nextra-primary-hue) 100% 77%/0.1);
  --tw-shadow-color: hsl(var(--nextra-primary-hue) 100% 77%/0.1);
  --tw-shadow: var(--tw-shadow-colored);
}

/* 
.prose :where(code):not(:where([class~='not-prose'] *)) {
  background: rgba(115, 125, 140, 0.15);
  border-radius: 3px;
  padding: 4.5px 4.5px;
  margin: 1px 1.5px;
}

.prose :where(a):not(:where([class~='not-prose'] *)) {
  text-decoration: underline;
  font-weight: 500;
}

.prose :where(a):not(:where([class~='not-prose'] *)):hover {
  text-decoration: none;
}

.prose :where(code):not(:where([class~='not-prose'] *))::before,
.prose :where(code):not(:where([class~='not-prose'] *))::after {
  content: '';
} */

pre {
  @apply !px-0 rounded-lg;
}

code {
  @apply !text-sm md:!text-base !leading-loose md:!leading-loose;
}

pre > code {
  @apply grid;
  counter-reset: line;
}

.prose {
  @apply max-w-[55rem] sm:text-lg md:text-xl !leading-7 sm:!leading-9;
}

[data-line] {
  @apply border-l-2 border-l-transparent px-6 border-l-2 border-l-transparent;
}

[data-highlighted-line] {
  background: rgba(200, 200, 255, 0.1);
  @apply border-l-blue-400;
}

[data-highlighted-chars] {
  @apply bg-zinc-600/50 rounded;
  box-shadow: 0 0 0 4px rgb(82 82 91 / 0.5);
}

[data-chars-id] {
  @apply shadow-none p-1 border-b-2;
}

[data-chars-id] span {
  @apply !text-inherit;
}

[data-chars-id='v'] {
  @apply !text-pink-300 bg-rose-800/50 border-b-pink-600 font-bold;
}

[data-chars-id='s'] {
  @apply !text-yellow-300 bg-yellow-800/50 border-b-yellow-600 font-bold;
}

[data-chars-id='i'] {
  @apply !text-purple-200 bg-purple-800/50 border-b-purple-600 font-bold;
}

.s-tag {
  display: inline;
  padding: 2px 10px;
}
.s-tag-red {
  background-color: red;
  color: #fff;
}
.s-tag-orange {
  background-color: orange;
  color: #fff;
}
.s-tag-green {
  background-color: green;
  color: #fff;
}
.s-tag-blue {
  background-color: #00f;
  color: #fff;
}
