@import url('./tailwind.css');
@import url('./twoslash-shiki.css');
@import url('./syntax-highlighting.css');
@import url('./markdown.css');
/* @import url('./ng.css'); */
:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

/* body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
} */

@layer base {
  @font-face {
    font-family: 'Virgil';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: local(''), url('/fonts/virgil.woff2') format('woff2');
  }

  .scroll-padding {
    scroll-padding-top: 150px;
  }

  body {
    @apply h-full bg-white text-slate-500 antialiased dark:bg-gray-950 dark:text-slate-400;
  }

  svg {
    @apply max-w-full;
  }

  .svg-h-full svg {
    @apply h-full;
  }

  svg path {
    fill: currentColor;
  }

  code {
    @apply rounded bg-gray-200 py-0.5 px-1 text-sm dark:bg-gray-800;
  }

  .prose code.hljs {
    @apply bg-transparent;
  }

  .prose a code {
    @apply dark:text-violet-400 !important;
  }

  .prose pre {
    @apply rounded-lg border border-transparent dark:border-gray-900 dark:bg-black;
  }

  @media (min-width: 1024px) {
    .docs.prose pre {
      max-width: calc(100vw - 520px);
    }
    .blog.prose pre {
      max-width: calc(100vw - 352px);
    }
  }

  @media (min-width: 1280px) {
    .blog.prose pre {
      max-width: calc(100vw - 672px);
    }
  }

  @media (min-width: 1440px) {
    .docs.prose pre {
      max-width: calc(100vw - 840px);
    }
  }

  @media (min-width: 1536px) {
    .docs.prose pre {
      max-width: 707px;
    }
    .blog.prose pre {
      max-width: 832px;
    }
  }

  @keyframes scroll {
    0% {
      transform: translateX(0);
    }
    100% {
      transform: translateX(calc(-560px * 4));
    }
  }

  .animate-scroll {
    animation: scroll 50s linear infinite;
  }

  .animate-scroll:hover {
    animation-play-state: paused;
  }

  reach-portal {
    position: absolute;
    z-index: 100;
  }

  .options-table .option-title h2,
  .options-table .option-title h3,
  .options-table .option-title h4 {
    @apply text-slate-900 dark:text-white;
  }

  .options-table .option-title p {
    @apply text-sm text-slate-500 dark:text-slate-400;
  }

  .hyphens {
    hyphens: auto;
    -webkit-hyphens: auto;
  }

  html.dark {
    color-scheme: dark;
  }
}

code {
  counter-reset: line;
}
 
code > [data-line]::before {
  counter-increment: line;
  content: counter(line);
 
  /* Other styling */
  display: inline-block;
  width: 1rem;
  margin-right: 2rem;
  text-align: right;
  color: gray;
}
 
code[data-line-numbers-max-digits='2'] > [data-line]::before {
  width: 2rem;
}
 
code[data-line-numbers-max-digits='3'] > [data-line]::before {
  width: 3rem;
}


code {
  -webkit-box-decoration-break: clone;
  box-decoration-break: clone;
  font-feature-settings: "rlig" 1,"calt" 1,"ss01" 1
}

code[data-line-numbers]>.line {
  padding-left: .5rem;
  display: inline-flex
}

code[data-line-numbers]>.line:before {
  counter-increment: line;
  content: counter(line);
  float: left;
  height: 100%;
  min-width: 2.6rem;
  text-align: right;
  --tw-text-opacity: 1;
  color: rgba(107,114,128,var(--tw-text-opacity));
  padding-right: 1rem
}

code .line.highlighted {
  background-color: hsl(var(--nextra-primary-hue)100% 45%/.1);
  color: hsl(var(--nextra-primary-hue)100% 45%/.5);
  --tw-shadow: 2px 0 currentColor inset;
  --tw-shadow-colored: inset 2px 0 var(--tw-shadow-color)
}

code .line .highlighted,code .line.highlighted {
  box-shadow: var(--tw-ring-offset-shadow,0 0 transparent),var(--tw-ring-shadow,0 0 transparent),var(--tw-shadow)
}

code .line .highlighted {
  --tw-shadow: 0 0 0 2px rgba(0,0,0,.3);
  --tw-shadow-colored: 0 0 0 2px var(--tw-shadow-color);
  background-color: hsl(var(--nextra-primary-hue)100% 32%/.1);
  --tw-shadow-color: hsl(var(--nextra-primary-hue)100% 32%/.1);
  --tw-shadow: var(--tw-shadow-colored);
  border-radius: .125rem
}

:is(html[class~=dark] code .line .highlighted) {
  background-color: hsl(var(--nextra-primary-hue)100% 77%/.1);
  --tw-shadow-color: hsl(var(--nextra-primary-hue)100% 77%/.1);
  --tw-shadow: var(--tw-shadow-colored)
}

/* 
.prose :where(code):not(:where([class~='not-prose'] *)) {
  background: rgba(115, 125, 140, 0.15);
  border-radius: 3px;
  padding: 4.5px 4.5px;
  margin: 1px 1.5px;
}

.prose :where(a):not(:where([class~='not-prose'] *)) {
  text-decoration: underline;
  font-weight: 500;
}

.prose :where(a):not(:where([class~='not-prose'] *)):hover {
  text-decoration: none;
}

.prose :where(code):not(:where([class~='not-prose'] *))::before,
.prose :where(code):not(:where([class~='not-prose'] *))::after {
  content: '';
} */

div[data-rehype-pretty-code-fragment] {
  overflow: hidden;
  background-color: rgb(0,0,0/.5);
  border-radius: .375rem
}

div[data-rehype-pretty-code-fragment] pre {
  overflow-x: auto;
  line-height: 1.5rem;
  margin-top: 0;
  border-top-left-radius: 0;
  border-top-right-radius: 0
}

div[data-rehype-pretty-code-title] {
  font-family: ui-monospace,SFMono-Regular,Menlo,Monaco,Consolas,Liberation Mono,Courier New,monospace;
  border-top-left-radius: .375rem;
  border-top-right-radius: .375rem;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
  font-size: 1rem;
  color: #fff;
  padding: .5em 1em
}

@media (prefers-color-scheme: dark) {
  div[data-rehype-pretty-code-title] {
      background-color:rgba(30,39,57,.9)
  }
}

@media (prefers-color-scheme: light) {
  div[data-rehype-pretty-code-title] {
      background-color:#3b4558
  }
}

div[data-rehype-pretty-code-fragment] .line {
  border-left-width: 4px;
  border-left-color: transparent;
  min-height: 24px
}

div[data-rehype-pretty-code-fragment] .line--highlighted {
  border-left: 4px solid #38bdf8;
  background-color: rgba(55,65,81,.5);
  margin-left: -18.5px;
  margin-right: -20px
}

div[data-rehype-pretty-code-fragment] .line--highlighted>:first-child {
  margin-left: 20px
}

code[data-line-numbers] {
  counter-reset: lineNumber
}

code[data-line-numbers] .line:before {
  counter-increment: lineNumber;
  content: counter(lineNumber);
  display: inline-block;
  text-align: right;
  margin-right: .75rem;
  width: 1rem;
  color: hsla(0,0%,100%,.2)
}

div[data-rehype-pretty-code-fragment] code {
  display: grid;
  background-color: transparent;
  border-width: 0;
  border-radius: 0;
  padding: 2rem 0
}

@media screen and (min-width: 640px) {
  div[data-rehype-pretty-code-fragment] code {
      display:grid;
      background-color: transparent;
      border-width: 0;
      border-radius: 0;
      padding: 1rem 0
  }
}
